[submodule "p3-playground"]
	path = p3-playground
	url = https://github.com/alxkzmn/p3-playground
[submodule "Whirlaway"]
	path = Whirlaway
	url = https://github.com/alxkzmn/Whirlaway
[submodule "ProveKit"]
	path = ProveKit
	url = https://github.com/alxkzmn/ProveKit
